<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your list of <span data-th-text="${randList.size()}"></span> random numbers</h1>
    <table>
        <tr data-th-each="i : ${randList}">
            <td>
                <span data-th-text="${i}"></span>
                <img th:src="@{${'/images/'+i+'.jpg'}}" height="150" width="150">
            </td>
        </tr>
    </table>
    <img src="" height="300">
</body>
</html>